<!doctype html>
<html>
 	{% include 'head.html' %}
	
	<body>
		<div class="container">
		{% include 'header.html' %}
			<form>
				<div class="form-group">
					<label for="cityInput">City</label>
					<input type="text" class="form-control" id="cityInput" name="city"
					placeholder="Enter city name or prefix ..."/>
				</div>
				<div class="form-group">
					<label for="distSelect">Distance</label>
					<select class="form-control" id="distSelect" name="dist">
						<option value="1">1 mile<option>
						<option value="10">10 miles<option>
						<option value="50">50 miles<option>
					<select>
        		</div>
        		<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			{% include 'status.html' %}


			<div id="mapid" style="height: 400px; margin: auto; width: 100%; padding: 10px;"></div>
		</div>

<script>
var mymap = L.map('mapid').setView([51.505, -0.09], 10);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
	maxZoom: 18,
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
		'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
		'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	id: 'mapbox/streets-v11'
}).addTo(mymap);

//Inject markers
{% for b in result %}
L.marker([ {{b["lat"]}} , {{b["lng"]}} ]).addTo(mymap).bindPopup("<b> {{b["name"]}} </b> <br/> {{b["city"]}} ").openPopup();
mymap.setView([ {{b["lat"]}} , {{b["lng"]}} ], 10, { animation: true });       
{% endfor %}

</script>


	{% include 'footer.html' %}
	</body>
</html>
